<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nmtc.mapper.NmtcUserMapper">
    <!-- 通用查询映射结果 -->

    <insert id="gitNmtc">
      	INSERT INTO TABLE nmtc_user (user_id,user_name,user_age,user_phone，uset_department_id)
	    VALUES (#{user_id},#{user_name},#{user_age},#{user_phone},#{uset_department_id});
    </insert>







</mapper>
